In [26]:
import pandas as pd
import numpy as np
import json
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score    
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

In [20]:
df = pd.read_csv("Data/cleaned_data.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 85 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCOME                   900 non-null    int64
 1   SAVINGS                  900 non-null    int64
 2   DEBT                     900 non-null    int64
 3   R_SAVINGS_INCOME         900 non-null    float64
 4   R_DEBT_INCOME            900 non-null    float64
 5   R_DEBT_SAVINGS           900 non-null    float64
 6   T_CLOTHING_12            900 non-null    int64
 7   T_CLOTHING_6             900 non-null    int64
 8   R_CLOTHING               900 non-null    float64
 9   R_CLOTHING_INCOME        900 non-null    float64
 10  R_CLOTHING_SAVINGS       900 non-null    float64
 11  R_CLOTHING_DEBT          900 non-null    float64
 12  T_EDUCATION_12           900 non-null    int64
 13  T_EDUCATION_6            900 non-null    int64
 14  R_EDUCATION              900 non-null    float64
 15  R_EDUCATION_INCOME       900 non-null    float64
 16  R_EDUCATION_SAVINGS      900 non-null    float64
 17  R_EDUCATION_DEBT         900 non-null    float64
 18  T_ENTERTAINMENT_12       900 non-null    int64
 19  T_ENTERTAINMENT_6        900 non-null    int64
 20  R_ENTERTAINMENT          900 non-null    float64
 21  R_ENTERTAINMENT_INCOME   900 non-null    float64
 22  R_ENTERTAINMENT_SAVINGS  900 non-null    float64
 23  R_ENTERTAINMENT_DEBT     900 non-null    float64
 24  T_FINES_12               900 non-null    int64
 25  T_FINES_6                900 non-null    int64
 26  R_FINES                  900 non-null    float64
 27  R_FINES_INCOME           900 non-null    float64
 28  R_FINES_SAVINGS          900 non-null    float64
 29  R_FINES_DEBT             900 non-null    float64
 30  T_GAMBLING_12            900 non-null    int64
 31  T_GAMBLING_6             900 non-null    int64
 32  R_GAMBLING               900 non-null    float64
 33  R_GAMBLING_INCOME        900 non-null    float64
 34  R_GAMBLING_SAVINGS       900 non-null    float64
 35  R_GAMBLING_DEBT          900 non-null    float64
 36  T_GROCERIES_12           900 non-null    int64
 37  T_GROCERIES_6            900 non-null    int64
 38  R_GROCERIES              900 non-null    float64
 39  R_GROCERIES_INCOME       900 non-null    float64
 40  R_GROCERIES_SAVINGS      900 non-null    float64
 41  R_GROCERIES_DEBT         900 non-null    float64
 42  T_HEALTH_12              900 non-null    int64
 43  T_HEALTH_6               900 non-null    int64
 44  R_HEALTH                 900 non-null    float64
 45  R_HEALTH_INCOME          900 non-null    float64
 46  R_HEALTH_SAVINGS         900 non-null    float64
 47  R_HEALTH_DEBT            900 non-null    float64
 48  T_HOUSING_12             900 non-null    int64
 49  T_HOUSING_6              900 non-null    int64
 50  R_HOUSING                900 non-null    float64
 51  R_HOUSING_INCOME         900 non-null    float64
 52  R_HOUSING_SAVINGS        900 non-null    float64
 53  R_HOUSING_DEBT           900 non-null    float64
 54  T_TAX_12                 900 non-null    int64
 55  T_TAX_6                  900 non-null    int64
 56  R_TAX                    900 non-null    float64
 57  R_TAX_INCOME             900 non-null    float64
 58  R_TAX_SAVINGS            900 non-null    float64
 59  R_TAX_DEBT               900 non-null    float64
 60  T_TRAVEL_12              900 non-null    int64
 61  T_TRAVEL_6               900 non-null    int64
 62  R_TRAVEL                 900 non-null    float64
 63  R_TRAVEL_INCOME          900 non-null    float64
 64  R_TRAVEL_SAVINGS         900 non-null    float64
 65  R_TRAVEL_DEBT            900 non-null    float64
 66  T_UTILITIES_12           900 non-null    int64
 67  T_UTILITIES_6            900 non-null    int64
 68  R_UTILITIES              900 non-null    float64
 69  R_UTILITIES_INCOME       900 non-null    float64
 70  R_UTILITIES_SAVINGS      900 non-null    float64
 71  R_UTILITIES_DEBT         900 non-null    float64
 72  T_EXPENDITURE_12         900 non-null    int64
 73  T_EXPENDITURE_6          900 non-null    int64
 74  R_EXPENDITURE            900 non-null    float64
 75  R_EXPENDITURE_INCOME     900 non-null    float64
 76  R_EXPENDITURE_SAVINGS    900 non-null    float64
 77  R_EXPENDITURE_DEBT       900 non-null    float64
 78  CAT_GAMBLING             900 non-null    int64
 79  CAT_DEBT                 900 non-null    int64
 80  CAT_CREDIT_CARD          900 non-null    int64
 81  CAT_MORTGAGE             900 non-null    int64
 82  CAT_SAVINGS_ACCOUNT      900 non-null    int64
 83  CAT_DEPENDENTS           900 non-null    int64
 84  CREDIT_SCORE             900 non-null    int64
dtypes: float64(51), int64(34)
memory usage: 597.8 KB

In [22]:
X = df.drop("CREDIT_SCORE", axis=1)
y = df["CREDIT_SCORE"]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(675, 84) (675,) (225, 84) (225,)

In [24]:
model = LinearRegression()

In [25]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(predictions)

[644.79648918 644.96357335 423.59807317 619.69656208 644.17548305
 569.12683101 497.43977626 621.30381452 611.80564264 553.37249178
 621.86390422 540.82265491 625.57549488 518.4678776  577.90539512
 562.80419064 591.6612255  640.69447979 631.11338525 583.44101941
 627.93076339 651.98614284 605.83808769 504.56994486 510.40584254
 613.54555506 574.65340381 527.34699001 645.89621574 641.2819584
 635.75995383 631.37635344 535.21680247 532.38510817 624.43929436
 659.21049643 641.61697684 501.33494527 660.49889124 637.00463444
 642.06816335 626.35600402 542.24387726 564.17924769 505.77235729
 603.16483566 588.2462291  617.33107833 563.26685284 615.15585942
 386.5632376  606.80829573 615.16387001 595.32037957 655.24297195
 573.90856977 614.60361002 593.89551661 546.03213171 570.4283763
 644.49238367 515.07401281 619.80898803 527.15784071 621.15362151
 607.5471761  625.35458452 591.6002931  571.86875502 560.72345751
 666.45739836 637.33831923 628.12301359 419.32029106 690.0848009
 610.56720493 657.1332759  561.5997909  597.61793529 598.88404648
 612.96635104 634.47473877 627.31153754 544.35760368 557.89070464
 552.35837321 413.32422959 519.41731607 563.83940839 613.48848133
 491.39128106 618.05961274 503.38204334 651.17439075 592.19774069
 613.21999438 622.05489669 640.78194039 640.52452323 650.96839587
 643.11325907 675.72484279 648.78683132 599.92987776 461.36207584
 652.43982748 610.10918265 620.62551624 646.65534285 662.71032973
 582.97036408 495.43549008 621.20854311 618.92960217 556.38820366
 584.77652542 589.42791643 551.51069094 582.63358373 597.63335292
 613.36617051 625.48100855 594.54804497 556.47186871 524.44608752
 605.64613467 587.12006778 642.08594979 581.5415641  639.95017441
 621.62389844 663.32081579 511.43167438 497.51965733 512.42776438
 644.88148872 609.39816665 655.28400039 598.50939384 633.92200447
 565.34120516 589.23498737 476.40788607 578.68149036 363.66763138
 585.08748379 584.33387857 621.51005584 610.90191434 659.32829645
 576.38999478 607.46938365 555.56230294 623.55310065 636.47205877
 629.33086281 605.72072617 572.14659211 651.77290205 497.13109312
 605.11970756 499.87743406 596.46719028 626.943104   452.46462701
 625.86941222 589.91241475 607.84762029 606.4529607  525.84752416
 657.94676213 581.97721573 594.03528858 625.56657719 612.48740687
 572.68511055 645.51989878 529.29693407 591.85492004 632.01790466
 542.14776973 660.66388874 615.52550499 653.48439683 603.98879868
 597.21350151 632.4326059  474.15526074 575.11415966 604.90636302
 617.05024177 611.8465508  644.36901686 569.29561386 495.94642117
 569.42125287 574.73397624 612.66499364 645.66880554 535.30645741
 633.61699705 482.05030424 689.08271957 495.52245653 581.58590564
 605.34409705 343.85550517 462.63933408 614.19711487 593.96497832
 641.49659136 614.70436636 522.08909536 375.82932434 625.70433202
 661.96297151 604.3153682  562.47747628 625.66162395 588.70559377
 405.98931666 474.44057096 607.69675351 601.09785535 571.55643566]

In [29]:
print("Mean Squared Error: ", mean_squared_error(y_test, predictions), "\n", 
      "R2 Score: ", r2_score(y_test, predictions), "\n", 
      "Mean Absolute Error: ", mean_absolute_error(y_test, predictions), "\n",
      "Mean Absolute Percentage Error: ", mean_absolute_percentage_error(y_test, predictions), "\n",
      "RMSE:", np.sqrt(mean_squared_error(y_test, predictions))                                                                  )

Mean Squared Error:  811.3562302377928
 R2 Score:  0.8009735076871529
 Mean Absolute Error:  21.048496559419814
 Mean Absolute Percentage Error:  0.036834436068258744
 RMSE: 28.484315512888717