In [3]:
import pandas as pd
import numpy as np
import json
from preprocessing.check_nans import CheckNans
from preprocessing.log_transformation import LogTransformation
from preprocessing.standardscaling import StandardScaling
from preprocessing.minmax_scaler import MinMaxScaling
from preprocessing.check_and_remove_outliers import CheckAndRemoveOutliers
from Models.LinearRegression import LinearRegressionModel
from Models.LassoRegression import LassoRegression
from Models.RidgeRegression import RidgeRegression
from Models.RandomForestRegressor import RandomForestReg
from sklearn.model_selection import train_test_split
from Utils.GridSearch import grid_search
import pandas as pd
from Utils.Optuna import optuna_hyperparameter_tuning

2024-03-20 03:50:00.429 | INFO     | preprocessing.abstract_prep:<module>:6 - Successfully imported file
2024-03-20 03:50:00.429 | INFO     | preprocessing.check_nans:<module>:7 - Successfully imported file
2024-03-20 03:50:00.434 | INFO     | preprocessing.log_transformation:<module>:7 - Successfully imported file
2024-03-20 03:50:00.436 | INFO     | preprocessing.standardscaling:<module>:7 - Successfully imported 'StandardScaling' file
2024-03-20 03:50:00.440 | INFO     | preprocessing.minmax_scaler:<module>:8 - Successfully imported 'MinMaxScaler' file
2024-03-20 03:50:00.737 | INFO     | preprocessing.check_and_remove_outliers:<module>:6 - Successfully imported 'CheckAndRemoveOutliers' file

In [4]:
df = pd.read_csv("Data/cleaned_data.csv")

In [5]:
df

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_GAMBLING,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CREDIT_SCORE
0,33269,0,532304,0.0000,16.0000,1.2000,1889,945,0.5003,0.0568,...,1.0000,0.0000,0.0625,2,1,0,0,0,0,444
1,30917,21642,534864,0.7000,17.3000,24.7142,1157,860,0.7433,0.0374,...,1.0000,1.4286,0.0578,2,1,0,0,1,0,469
2,149971,1172498,2399531,7.8182,16.0000,2.0465,1978,322,0.1628,0.0132,...,0.9091,0.1163,0.0568,2,1,1,1,1,1,473
3,181636,339055,1695274,1.8667,9.3334,5.0000,11446,1910,0.1669,0.0630,...,0.6667,0.3571,0.0714,0,1,0,0,1,0,596
4,60881,42617,383550,0.7000,6.3000,8.9999,2658,117,0.0440,0.0437,...,1.0000,1.4286,0.1587,0,1,0,0,1,0,580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,18830,2354,393068,0.1250,20.8746,166.9788,1282,592,0.4618,0.0681,...,1.2500,9.9987,0.0599,0,1,0,0,1,0,411
822,81404,88805,680837,1.0909,8.3637,7.6667,5400,1936,0.3585,0.0663,...,0.9091,0.8333,0.1087,0,1,0,0,1,0,589
823,0,42428,30760,3.2379,8.1889,0.7250,0,0,0.8779,0.0047,...,1.0668,0.2500,0.3448,0,1,0,0,1,0,499
824,36011,8002,604181,0.2222,16.7777,75.5037,1993,1271,0.6377,0.0553,...,1.1111,5.0002,0.0662,0,1,1,0,1,0,507
825,44266,309859,44266,6.9999,1.0000,0.1429,1574,1264,0.8030,0.0356,...,1.1111,0.1587,1.1111,0,1,0,0,1,0,657

In [6]:
X = df.drop("CREDIT_SCORE", axis=1)
y = df["CREDIT_SCORE"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# linear_params = { 
#     'alpha' : [0.0000001, 0.1]
# }

In [1]:
# optuna_hyperparameter_tuning(LinearRegressionModel, linear_params, X_train=X_train, y_train=y_train, X_test=X_test, y_test=y_test)