In [5]:
import pandas as pd
import numpy as np

In [6]:
%load_ext autoreload
%autoreload 2

In [8]:
df = pd.read_csv("Data/cleaned_data.csv")
df

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_GAMBLING,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CREDIT_SCORE
0,33269,0,532304,0.0000,16.0000,1.2000,1889,945,0.5003,0.0568,...,1.0000,0.0000,0.0625,2,1,0,0,0,0,444
1,77158,91187,315648,1.1818,4.0909,3.4615,5818,111,0.0191,0.0754,...,0.9091,0.7692,0.2222,0,1,0,0,1,0,625
2,30917,21642,534864,0.7000,17.3000,24.7142,1157,860,0.7433,0.0374,...,1.0000,1.4286,0.0578,2,1,0,0,1,0,469
3,149971,1172498,2399531,7.8182,16.0000,2.0465,1978,322,0.1628,0.0132,...,0.9091,0.1163,0.0568,2,1,1,1,1,1,473
4,181636,339055,1695274,1.8667,9.3334,5.0000,11446,1910,0.1669,0.0630,...,0.6667,0.3571,0.0714,0,1,0,0,1,0,596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,18830,2354,393068,0.1250,20.8746,166.9788,1282,592,0.4618,0.0681,...,1.2500,9.9987,0.0599,0,1,0,0,1,0,411
896,81404,88805,680837,1.0909,8.3637,7.6667,5400,1936,0.3585,0.0663,...,0.9091,0.8333,0.1087,0,1,0,0,1,0,589
897,0,42428,30760,3.2379,8.1889,0.7250,0,0,0.8779,0.0047,...,1.0668,0.2500,0.3448,0,1,0,0,1,0,499
898,36011,8002,604181,0.2222,16.7777,75.5037,1993,1271,0.6377,0.0553,...,1.1111,5.0002,0.0662,0,1,1,0,1,0,507
899,44266,309859,44266,6.9999,1.0000,0.1429,1574,1264,0.8030,0.0356,...,1.1111,0.1587,1.1111,0,1,0,0,1,0,657

In [9]:
columns = pd.read_json("Data/selected_features_15.json")[0]
columns

0          R_ENTERTAINMENT
1          CAT_CREDIT_CARD
2          R_CLOTHING_DEBT
3               R_GAMBLING
4             R_TAX_INCOME
5            R_HEALTH_DEBT
6            R_TAX_SAVINGS
7     R_ENTERTAINMENT_DEBT
8       R_EDUCATION_INCOME
9                    R_TAX
10           R_DEBT_INCOME
11             R_GROCERIES
12        T_EXPENDITURE_12
13     R_UTILITIES_SAVINGS
14            T_GAMBLING_6
15    R_EXPENDITURE_INCOME
16              R_TAX_DEBT
17                    DEBT
18       R_GAMBLING_INCOME
19       T_ENTERTAINMENT_6
20                  INCOME
21                R_TRAVEL
22      R_EXPENDITURE_DEBT
23             T_TRAVEL_12
24           T_CLOTHING_12
25                T_TAX_12
26         T_EXPENDITURE_6
27          R_HOUSING_DEBT
28        R_SAVINGS_INCOME
29              T_FINES_12
30           R_EXPENDITURE
31          R_DEBT_SAVINGS
32            CAT_GAMBLING
33               T_FINES_6
34        R_GROCERIES_DEBT
35        R_UTILITIES_DEBT
36           R_TRAVEL_DEBT
Name: 0, dtype: object

In [10]:
X = df[columns]
X

,R_ENTERTAINMENT,CAT_CREDIT_CARD,R_CLOTHING_DEBT,R_GAMBLING,R_TAX_INCOME,R_HEALTH_DEBT,R_TAX_SAVINGS,R_ENTERTAINMENT_DEBT,R_EDUCATION_INCOME,R_TAX,...,R_HOUSING_DEBT,R_SAVINGS_INCOME,T_FINES_12,R_EXPENDITURE,R_DEBT_SAVINGS,CAT_GAMBLING,T_FINES_6,R_GROCERIES_DEBT,R_UTILITIES_DEBT,R_TRAVEL_DEBT
0,0.5065,0,0.0035,0.4608,0.0000,0.0006,0.0276,0.0058,0.0000,0.5322,...,0.0056,0.0000,0,0.5797,1.2000,2,0,0.0091,0.0017,0.0336
1,0.5042,0,0.0184,0.5431,0.0256,0.0015,0.0216,0.0546,0.0000,0.5008,...,0.0518,1.1818,0,0.3580,3.4615,0,0,0.0166,0.0090,0.0641
2,0.6178,0,0.0022,0.5071,0.0000,0.0017,0.0000,0.0068,0.0000,0.5166,...,0.0052,0.7000,36,0.5698,24.7142,2,36,0.0081,0.0016,0.0300
3,0.5150,1,0.0008,0.5260,0.0263,0.0031,0.0034,0.0022,0.0000,0.4552,...,0.0178,7.8182,0,0.4604,2.0465,2,0,0.0145,0.0043,0.0117
4,0.5104,0,0.0068,0.5240,0.0434,0.0044,0.0233,0.0129,0.0313,0.4006,...,0.0181,1.8667,0,0.4506,5.0000,0,0,0.0146,0.0067,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,0.5120,0,0.0033,0.5328,0.0000,0.0018,0.0000,0.0071,0.0000,0.5112,...,0.0070,0.1250,0,0.5472,166.9788,0,0,0.0101,0.0022,0.0284
896,0.6379,0,0.0079,0.4641,0.0355,0.0026,0.0325,0.0424,0.0000,0.5003,...,0.0000,1.0909,0,0.4252,7.6667,0,0,0.0103,0.0051,0.0362
897,0.6163,0,0.0000,0.5861,0.0346,0.0048,0.0000,0.0000,0.0000,0.4953,...,0.0254,3.2379,0,0.7427,0.7250,0,0,0.0198,0.0087,0.2862
898,0.5105,1,0.0033,0.5768,0.0000,0.0014,0.0000,0.0059,0.2672,0.4917,...,0.0059,0.2222,0,0.6502,75.5037,0,0,0.0100,0.0018,0.0219
899,0.5076,0,0.0356,0.4962,0.0084,0.2054,0.0012,0.1693,0.0000,0.4545,...,0.0000,6.9999,0,0.4740,0.1429,0,0,0.1891,0.0776,0.4256

In [11]:
y = df["CREDIT_SCORE"]
y

0      444
1      625
2      469
3      473
4      596
      ...
895    411
896    589
897    499
898    507
899    657
Name: CREDIT_SCORE, Length: 900, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=63)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((720, 37), (180, 37), (720,), (180,))

In [15]:
from Models.LinearRegression import LinearRegressionModel

# Create an instance of the LinearRegressionModel class
model = LinearRegressionModel()
print(model.trained)
model.train(x_train, y_train)
print(model.trained)
model.predict(x_test)

for sctype in ["MAE", "MSE", "RMSE", "R2", "MAPE"]:
    print(sctype,"->", model.score(y_test, score_type=sctype))

2024-03-16 01:40:56.790 | ERROR    | Models.abstract_model:trained:62 - LinearRegression is not trained yet
2024-03-16 01:40:56.800 | INFO     | Models.abstract_model:train:75 - Model was trained successfully: status:True

False
True
MAE -> 20.08414180821614
MSE -> 787.5415708324516
RMSE -> 28.06317107585049
R2 -> 0.7740161929688123
MAPE -> 0.034096151630475476

In [17]:
from Models.RidgeRegression import RidgeRegression

# Create an instance of the RidgeRegressionModel class
model = RidgeRegression(alpha = 0.5, max_iter = 100)
print(model.trained)
model.train(x_train, y_train)
print(model.trained)
model.predict(x_test)

for sctype in ["MAE", "MSE", "RMSE", "R2", "MAPE"]:
    print(sctype,"->", model.score(y_test, score_type=sctype))

2024-03-16 01:42:01.559 | ERROR    | Models.abstract_model:trained:62 - RidgeRegression is not trained yet
2024-03-16 01:42:01.569 | INFO     | Models.abstract_model:train:75 - Model was trained successfully: status:True

False
True
MAE -> 20.007000168615967
MSE -> 790.0383676203605
RMSE -> 28.10762116615991
R2 -> 0.7732997410830807
MAPE -> 0.033988432928214636

In [18]:
from Models.LassoRegression import LassoRegression

# Create an instance of the LassoRegressionModel class
model = LassoRegression(alpha = 0.0001, max_iter = 180, selection = "cyclic")
print(model.trained)
model.train(x_train, y_train)
print(model.trained)
model.predict(x_test)

for sctype in ["MAE", "MSE", "RMSE", "R2", "MAPE"]:
    print(sctype,"->", model.score(y_test, score_type=sctype))

2024-03-16 01:43:07.218 | ERROR    | Models.abstract_model:trained:62 - LassoRegression is not trained yet
c:\Users\Gor78\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.432e+05, tolerance: 3.049e+02
  model = cd_fast.enet_coordinate_descent(
2024-03-16 01:43:07.243 | INFO     | Models.abstract_model:train:75 - Model was trained successfully: status:True

False
True
MAE -> 20.107602166917196
MSE -> 791.0671780347849
RMSE -> 28.125916483463875
R2 -> 0.773004525563322
MAPE -> 0.034132950693316205

In [19]:
from Models.RandomForestRegressor import RandomForestReg

# Create an instance of the LassoRegressionModel class
model = RandomForestReg(n_estimators = 79, criterion = "squared_error", max_depth = 35, min_samples_split = 2, min_samples_leaf = 1)
print(model.trained)
model.train(x_train, y_train)
print(model.trained)
model.predict(x_test)

for sctype in ["MAE", "MSE", "RMSE", "R2", "MAPE"]:
    print(sctype,"->", model.score(y_test, score_type=sctype))

2024-03-16 01:44:35.177 | ERROR    | Models.abstract_model:trained:62 - RandomForestRegression is not trained yet

False

2024-03-16 01:44:36.066 | INFO     | Models.abstract_model:train:75 - Model was trained successfully: status:True

True
MAE -> 22.728902953586502
MSE -> 926.5921300005341
RMSE -> 30.43997585413849
R2 -> 0.7341158551397837
MAPE -> 0.03862476827913006